# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Input: Player Names - Valid

I will test that a valid player name can be entered and accepted

### Test Data To Use

I will try to enter a valid player names Dave, Bob for player 1 and 2

### Test Result

![example.png](screenshots/example.png)

The chain failed to break

---

## Example Test Name

Example test description. Example test description.Example test description. Example test description.Example test
description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of
test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.
Comment on test result.

---

